{%
  set classes = [
    'node',
    'node-detail',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

<!-- Start Display article for teaser page -->
{% if view_mode == 'teaser' %}
  <div class="post-block teaser-1 ">
    <div class="post-image">
      {{ content.field_image }}
    </div>
    <div class="post-content ">
        <div class="post-meta text-center">
          <span class="post-created"><i class="far fa-clock"></i>  {{ node.getCreatedTime()|format_date('custom', 'd-m-Y') }}</span>
          {#<span class="author"><i class="far fa-user-circle"></i>{{ author_name }}</span>#}

        </div>
        <h3 class="post-title"> <a href="{{ url }}" rel="bookmark">
          {{ node.title.0.value|striptags|slice(0, 90) }}
        </a> </h3>
        <div class="post-body" >{{ node.body.value|striptags|slice(0, 140) }} ...</div>
        <div class="post-readmore"> <a href="{{ url }}" rel="bookmark"> {{"Read more"|t}}  <i class="{% if cur_language == "ar" %}fas fa-long-arrow-alt-left{% else %}fas fa-long-arrow-alt-right{% endif %}"></i></a> </div>
    </div>
  </div>

{% elseif view_mode == 'teaser_2' %}
  <div class="post-block teaser-2">
    <div class="post-image">
      {{ content.field_image }}
    </div>
    <div class="post-content text-center">
        <div class="post-meta">
          <span class="post-created"><i class="far fa-clock"></i> {{ node.getCreatedTime()|format_date('custom', 'd-m-Y') }}  </span>
          {#<span class="author"><i class="far fa-user-circle"></i>{{ author_name }}</span>#}

        </div>
        <h3 class="post-title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </h3>
    </div>
  </div>


<!-- End Display article for teaser page -->
{% else %}
<!-- Start Display article for detail page -->

<article{{ attributes.addClass(classes) }}>
  <div class="post-block">

    <div class="post-thumbnail post-{{ post_format }}">
      {% if post_format == 'video' or post_format == 'audio' and gva_iframe %}
        {{ gva_iframe|raw }}
      {% elseif post_format == 'gallery' and content.field_post_gallery %}
        {{ content.field_post_gallery }}
      {% else %}
        {{ content.field_image }}
      {% endif %}
    </div>

    <div class="post-content">
      <div class="post-meta">
          <span class="post-created"><i class="far fa-clock"></i> {{ node.getCreatedTime()|format_date('custom', 'd-m-Y') }}  </span>
        {<span class="author"><i class="far fa-user-circle"></i>{{ author_name }}</span>}

        </div>
      {{ title_prefix }}
         <h1{{ title_attributes.addClass('post-title') }}>{{ label }}</h1>
      {{ title_suffix }}

      {% if display_submitted %}
        <div class="node__meta hidden">
          {{ author_picture }}
          <span{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          </span>
          {{ metadata }}
        </div>
      {% endif %}

      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_image','field_post_format', 'field_post_type', 'field_post_embed', 'field_post_gallery') }}
      </div>



    </div>

  </div>

</article>

<!-- End Display article for detail page -->
{% endif %}
