{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'item item2',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_image }}'] }}
    <div class="content">
      <h5>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ created }}'] }}</h5>
      <h4>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}</h4>
      <p>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ body }}'] }}</p>

      {% set nid = row.content['#row']._entity.id() %}
      {% set node_url = path('entity.node.canonical', {'node': nid}) %}
      <a href="{{ node_url }}"><button class="btn w-100 rounded-1">{{ 'Read more'|t }}</button></a>
    </div>
  </div>
{% endfor %}
