
<footer id="footer" class="footer">
  <div class="footer-inner">

    {% if page.before_footer %}
     <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="before-footer clearfix area">
                  {{ page.before_footer }}
              </div>
            </div>
          </div>
        </div>
      </div>
     {% endif %}

     <div class="footer-center">
        <div class="container">
           <div class="row">
              {% if page.footer_first %}
                  {{ page.footer_first }}
              {% endif %}



              {% if page.footer_third %}
                  {{ page.footer_third }}
              {% endif %}

              {% if page.footer_four %}
                  {{ page.footer_four }}
              {% endif %}
           </div>
        </div>
    </div>
  </div>

  {% if page.copyright %}
    <div class="copyright">
      <div class="container">
        <div class="copyright-inner">
            {{ page.copyright }}
        </div>
      </div>
    </div>
  {% endif %}
  <a id="back-to-top" href="#" data-target="html" class="scroll-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>
</footer>
